<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app/style.css" />
  <script src="app/dirPagination.js"></script>
  <script src="app/script.js"></script>
</head>

<body>
  <section>
        <div class="container" >
    <div class="row" >
      <div class="col-md-12">
        <div ng-controller="MyController" class="my-controller"  >

<!--            START -> MAIN WINDOW                  -->
            <div>
                <h2>Keep Track for Employees</h2>

                <!-- <small>this is in "MyController"</small> -->
                <div class="row">
                    <div class="col-xs-4">
                        <h3>Employees Page: {{ currentPage }}</h3>
                    </div>
                    <div class="col-xs-4">
                        <label for="search">Search:</label>
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                    <div class="col-xs-4">
                        <label for="search">cards per page:</label>
                        <input type="number" min="1" max="20" class="form-control" ng-model="pageSize">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-3">
                      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-lg" ng-click="newRecord()">New record</button>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <br>

                <div class="panel panel-default">
                  <div class="panel-body">
                      <table class="table table-hover">
                         <thead>
                           <tr>
                            <th>#</th><th>Employee Name</th><th>Working time</th><th></th><th></th>
                          </tr>
                         </thead>
                         <tbody>
                               <tr dir-paginate="card in cards | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                              <td>{{ card[0] }}</td>
                              <td>{{ card[1] }}</td>
                              <td>{{ card[2] }}</td>
                              <td><button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editCard(card)">Edit</button></td>
                              <td><button class="btn btn-default btn-sm" ng-click="removeCard(card)">Delete</button></td>
                            </tr>
                         </tbody>
                      </table>
                  </div>
                </div>
            </div>
<!--            END -> MAIN WINDOW                  -->

<!--            START -> MODAL WINDOW  ADD NEW RECORD                  -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="row">
                            </div>
                            <h4 class="modal-title" id="myModalLabel">New Record</h4>
                            <br>
                            <small>Personal ID: {{id_Num}}</small>
                        </div>
                        <div class="modal-body">      
                              <div class="row">
                                  <div class="col-md-5 col-offset-md-1">
                                      <label for="search">Employee name</label>
                                      <input type="text" ng-model="tempCard.name" class="form-control" style="width:200px;">
                                  </div>
                                  <div class="col-md-1 col-offset-md-1">
                                      <label for="search">Gender</label>
                                      <input type="text" ng-model="tempCard.gender" class="form-control" style="width:70px;" placeholder="male">
                                  </div>
                                  <div class="col-md-2"></div>
                                  <div class="col-md-2">
                                      <label for="search">Contacts</label>
                                      <input type="text" ng-model="tempCard.contacts" class="form-control" style="width:130px;">
                                  </div>
                              </div><br/>
                              <div class="row">
                                  <div class="col-md-3 col-offset-md-5">
                                      <label for="search">Working Day</label>
                                      <input type="text" ng-model="tempCard.day" class="form-control" placeholder="Monday" style="width:100px;">
                                  </div>
                                  <div class="col-md-3">
                                      <label for="search">Time Start</label>
                                      <input type="text" ng-model="tempCard.timeBegin" class="form-control" placeholder="09-00" style="width:90px;">
                                  </div>
                                  <div class="col-md-3">
                                      <label for="search">Time End</label>
                                      <input type="text" ng-model="tempCard.timeEnd" class="form-control" placeholder="18-00" style="width:90px;">
                                  </div>
                              </div><br/>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save changes</button>
                        </div>
              
                    </div>
                </div>
            </div>
<!--             END  -> MODAL WINDOW  ADD NEW RECORD                  -->                    
        </div>



        <div ng-controller="OtherController" class="other-controller" >
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
  </section>
  
</body>

</html>
